body {
    font-family: 'Times New Roman';
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.about {
    background: rgb(214, 85, 9);
    padding: 8px;
}

.c1 {
    color: indianred;
}

.c2 {
    color: blue;
}

.c3 {
    color: green;
}

img {
    height: 120px;
    width: 120px;
    align-self: center;
}

.column {
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 22%;
}

.card {
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 0 16px 0 16px;
}

.email {
    color: grey;
}

.button {
    font-size: 16px;
    color: red;
    text-align: center;
}

.mainbutton {
    font-size: 16px;
    color: blue;
    text-align: center;
}

.button2 {
    font-size: 16px;
    color: green;
    text-align: center;
}